# --- Base API ---
fastapi==0.111.0
uvicorn[standard]==0.29.0
gunicorn[uvicorn]==21.2.0

# ORM / Banco
SQLAlchemy==2.0.29
psycopg2-binary==2.9.9          # escolha APENAS UM driver: este (sync) OU asyncpg (async)
# asyncpg==0.27.0               # descomente se for usar SQLAlchemy async e remova o psycopg2-binary
alembic==1.13.2
geoalchemy2==0.14.3


# Utilidades
python-slugify==8.0.4
python-multipart==0.0.9         # UploadFile
python-dotenv==1.0.1            # .env fora do Docker
requests==2.32.3
python-dateutil==2.9.0
minio==7.2.5
orjson==3.10.7                  # opcional, mas recomendado para performance JSON
email-validator==2.2.0          # se usar pydantic EmailStr
Pillow==10.4.0                  # processamento de imagens

# Segurança / JWT
bcrypt==4.0.1
passlib[bcrypt]==1.7.4
python-jose[cryptography]==3.3.0

# --- Dados / Análise (opcional) ---
pandas==2.2.2
scikit-learn==1.5.0
# Pins para estabilidade em Docker base Debian/Ubuntu (exemplos seguros):
numpy==2.0.2
scipy==1.13.1

# --- Testes / Dev ---
pytest==7.4.2
pytest-asyncio==0.23.8          # se tiver rotas/serviços async
httpx==0.27.0
